* {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100vw;
  height: 100vh;
}

#sky {
  width: 100vw;
  height: 60vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 150vh;
  height: 100vw;
  position: fixed;
  
  bottom: 5vh; /* Starting height from the bottom of the viewport */
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}

#vanta {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* Behind the stars */
}

#App {
  position: relative;
  z-index: 2; /* Above the clouds */
}

.typer-container {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 46%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  z-index: 3; /* Higher than the starry sky and Vanta.js */
  color: white; /* Choose a color that stands out */
  text-align: center; /* Center the text inside the container */
  overflow: auto;
}

.song-container {
  position: relative;
  z-index: 10;
  
  width: 300px;  /* Set a specific width */
  height: 100px; /* Set a specific height */
  margin: 20px;  /* Add some margin */
}

.button-pretty {
  background-color: #d5e1ef; /* Off-white background */
  border: none; /* Remove borders */
  color: #8e8e91; /* White text */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block */
  font-size: 20px; /* Standard font size */
  font-weight: 800; /* Make text bold */
  margin: 4px 2px; /* Margins for spacing */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Circular shape */
  width: 50px; /* Width of the button */
  height: 50px; /* Height of the button */
  line-height: 50px; /* Line height for vertical alignment, adjust as needed */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button-pretty:hover {
  background-color: #c8d3e0; /* Darker shade of green on hover */
}

.section {
  min-height: 100vh; /* sets minimum height to 100% of the viewport height */
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.scroll-button-container {
  position: fixed;
  top: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  z-index: 3;
}

.scroll-button {
  z-index: 3; /* Higher than other components */
  position: relative; /* Adjust position as necessary */
  background-color: #d5e1ef; /* Example background color */
  border: none;
  color: #8e8e91;
  font-weight: bold; /* Make text bold */
  padding: 10px 20px; /* Rectangle shape */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; /* Rounded edges */
}
